html, body, section, article,
h1, h2, p, strong, em, a, #root{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  font-weight: normal;
  color: inherit;
  background: transparent;
  height: 100%;
}
